---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

# Teaching assistant

Teaching assistant at [ENSTA Paris](https://www.ensta-paris.fr/en) and [Université Paris Dauphine - PSL](https://dauphine.psl.eu/en/).

*Availabilites for students:* you can send me an e-mail whenever you need it. I block my Friday afternoon from 4 to 6 pm to answer you on scientific subjects. If you are lucky,
I can answer you at another time, but I can't guarantee it :)

***
#### \'Ecole Nationale des Ponts et Chauss\'ees

###### Statistics and Data Analysis, from sept. 2022 to now
- Level: 2nd-year eng. curriculum (equiv. Master 1)
- Students: 25 students from two departements (Applied Mathematics & Computer Science | Economics, Management and Finance)
- KeyWords: Probabilistic models; Data Analysis; Parametric Estimation; Maximum Likelihood; Confidence Intervals; Bayesian Estimation; Statistical Hypothesis Testing; Chi-Square Tests; Kolmogorov Tests; Linear Regression; Classification; Likelihood Ratio Test; Wald's Test; ANOVA; Shapiro-Wilk Test
- Learning Resource: lecture notes + blackboard
- Computer Usage: Python
- Outcome Measurement: continuous assessment (2) + flipped classrooms (5) + final exam (13)
- Language: Lecture notes in English, Class taught in French (blackboard)

***
#### INSA Rennes

###### Uncertainty and Sensitivity Analysis in Engineering, from sept. 2022 to now

***
#### ENSAI

###### Supervised Learning, 2021, 2022 and 2023


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
